* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.box {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.inner-box {
  text-align: center;
}
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

input {
  color: #7041d3;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 868px;
  border-radius: 79px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 42px 52px;
}
input::placeholder {
  color: #adacac;
}
input:focus {
  color: #7041d3;
}

button {
  border-radius: 53px;
  background: #7041d3;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 87px;
  cursor: pointer;
  margin-top: 30px;
}
p {
  border-radius: 5px;
  background: #cc3030;
  padding: 9px 40px;
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.none {
  display: none;
}

@media (max-width: 700px) {
  .box {
    margin-top: 80px;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  input {
    font-size: 16px;
    width: auto;
    border-radius: 79px;
    padding: 15px 30px;
  }
  button {
    font-size: 16px;
    padding: 15px 30px;
    margin-top: 0px;
  }
  p {
    padding: 9px 12px;
    font-size: 16px;
  }
}
